<%= form_with(model: announcement) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
        <% announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= form.label :description, class: "crud-text" %>
      <%= form.text_area :description, rows: 10, class: "crud-input" %>
    </div>
  </div> <!-- crud flex -->
  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= form.label :date, class: "crud-text" %>
      <%= form.date_field :date, class: "crud-input" %>
    </div>
  </div> <!-- crud-flex -->
  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= form.label :author, class: "crud-text" %>
      <%= form.text_field :author, class: "crud-input" %>
    </div>

    
    <%= fields_for(@group_member_join) do |ab| %>
      <div class="field">
        <%= ab.label "All Groups" %>
        <%= collection_select(:groups, :ids, @groups,:id, :title,{} ) %>
      </div>
    <% end %>

  </div> <!-- crud-flex -->


  <div class="crud-flex">
    <p> Selecting a group will send all members in that group this announcement through email</p>
  </div> <!-- crud flex -->


  <div class="crud-flex">
    <div class="actions crud-submit">
      <%= form.submit class: "submit-button" %>
    </div>
  </div> <!-- crud flex -->
<% end %>
