<p id="notice"><%= notice %></p>

<p>
  <strong>About:</strong>
  <%= @homepage.about %>
</p>

<p>
  <strong>Aboutcontentone:</strong>
  <%= @homepage.aboutcontentone %>
</p>

<p>
  <strong>Aboutcontenttwo:</strong>
  <%= @homepage.aboutcontenttwo %>
</p>

<p>
  <strong>Emailone:</strong>
  <%= @homepage.emailone %>
</p>

<p>
  <strong>Emailtwo:</strong>
  <%= @homepage.emailtwo %>
</p>

<p>
  <strong>Emailthree:</strong>
  <%= @homepage.emailthree %>
</p>

<p>
  <strong>Emailfour:</strong>
  <%= @homepage.emailfour %>
</p>

<p>
  <strong>Emailfive:</strong>
  <%= @homepage.emailfive %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @homepage.contact %>
</p>

<p>
  <strong>Contactcontent:</strong>
  <%= @homepage.contactcontent %>
</p>

<p>
  <strong>Imageone:</strong>
  <%= @homepage.imageone %>
</p>

<p>
  <strong>Imagetwo:</strong>
  <%= @homepage.imagetwo %>
</p>

<p>
  <strong>Imagethree:</strong>
  <%= @homepage.imagethree %>
</p>

<%= link_to 'Edit', edit_homepage_path(@homepage) %> |
<%= link_to 'Back', homepages_path %>
