<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= form.label :title, class: "crud-text" %>
      <%= form.text_field :title, class: "crud-input" %>
    </div>
  </div> <!-- crud flex -->

  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= fields_for(@group_member_join) do |ab| %>
        <%= ab.label "All Members", class: "crud-text" %><br/>
        <div class="crud-right">
          <%= collection_select(:members, :id, @all_members, :id, :name, {}, {:multiple => true, class: "selection-field"})%>
          <p class="instruction-text">Hold ctrl to select multiple members</p>
        </div>
      <% end %>
    </div>
  </div> <!-- crud-flex -->



  <div class="crud-flex">
    <div class="actions crud-submit">
      <%= form.submit class: "submit-button" %>
    </div>
  </div> <!-- crud flex -->
<% end %>
