
<div class="content-box events-bg">
  <% if !current_admin.nil?%>
   <% if Member.exists?(['email LIKE ? AND priority = 3', "%#{current_admin.email}"]) %>
      <%= link_to("Add New Event", new_event_path, :class => 'action new', :method => :get) %>
      <%= link_to("Delete All Events", delete_all_events_path, :class => 'action delete_all') %>
    <% end %>
  <% end %>
  <div class="crud-body" style="background-color: rgba(256, 256, 256, 1);">
    <h1 class="crud-header">Calendar</h1>

     <%= month_calendar(events: @events) do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div class="event_name">
      <%= event.name %>
    </div>
    <div class='preview'>
      <div><%= event.location %></div>
      <div><span><%= event.start_time.strftime("%I:%M%p")  %></span> - <span> <%= event.end_time.strftime("%I:%M%p") %></span></div>
      <div><%= event.description %></div>
    </div>
  <% end %>
<% end %>

    <% if !current_admin.nil?%>
     <% if Member.exists?(['email LIKE ? AND priority = 3', "%#{current_admin.email}"]) %>
    <table class="listing" summary="Event list">
    <h2>Upcoming Events</h2>
      <tr class="header">
        <th>Event</th>
        <th>Location</th>
        <th>Start</th>
        <th>End</th>
        <th>Description</th>
      </tr>
      <% @events.each do |event| %>
      <% if event.start_time > DateTime.current %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.location %></td>
          <td><%= event.start_time %></td>
          <td><%= event.end_time %></td>
          <td class="center"><%= event.description %></td>
          <td class="actions">
            <%= button_to("Show", event_path(event), :class => 'action show', method: :get) %> <%=
            button_to("Edit", edit_event_path(event), :class => 'action edit', method: :get) %> <%=
            button_to("Delete", delete_event_path(event), :class => 'action delete', method: :get)
            %>
          </td>
        </tr>
        <%end%>
      <% end %>




    <table class="listing" summary="Event list">
      <h2>Past Events</h2>
      <tr class="header">
        <th>Event</th>
        <th>Location</th>
        <th>Start</th>
        <th>End</th>
        <th>Description</th>
      </tr>
      <% @events.each do |event| %>
      <% if event.start_time < DateTime.current %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.location %></td>
          <td><%= event.start_time %></td>
          <td><%= event.end_time %></td>
          <td class="center"><%= event.description %></td>
          <td class="actions">
            <%= button_to("Show", event_path(event), :class => 'action show', method: :get) %> <%=
            button_to("Edit", edit_event_path(event), :class => 'action edit', method: :get) %> <%=
            button_to("Delete", delete_event_path(event), :class => 'action delete', method: :get)
            %>
          </td>
        </tr>
        <%end%>
      <% end %>
      <% end %>
        <% end %>




  </div> <!-- crud-body -->
  <br>
</div> <!-- content-box -->
