<%= form_with(model: points_event) do |form| %>
  <% if points_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(points_event.errors.count, "error") %> prohibited this points_event from being saved:</h2>

      <ul>
        <% points_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= form.label :name, class: "crud-text" %>
      <%= form.text_field :name, class: "crud-input" %>
    </div>
  </div> <!-- crud flex -->
  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= form.label :value, class: "crud-text" %>
      <%= form.number_field :value, class: "crud-input" %>
    </div>
  </div> <!-- crud-flex -->

  <div class="crud-flex">
  <%= fields_for(@point_category) do |ab| %>
    
      <%= ab.label "All members" %>
      <%= collection_select(:members, :id, @all_members, :id, :name, {}, {:multiple => true}) %>
    
  <% end %>
  </div>


  <div class="crud-flex">
    <div class="actions crud-submit">
      <%= form.submit class: "submit-button" %>
    </div>
  </div> <!-- crud flex -->
  <% end %>
