<%= form_with(model: points_event) do |form| %>
  <% if points_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(points_event.errors.count, "error") %> prohibited this points_event from being saved:</h2>

      <ul>
        <% points_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="crud-flex">
    <div class="field" style="flex: 7">
      <%= form.label :name, class: "crud-text" %>
    </div>
    <div class="field" style="flex: 12">
      <%= form.text_field :name, class: "crud-input" %>
    </div>
    <div class="field" style="flex: 1">
      <%= form.label :value, class: "crud-text" %>
    </div>
    <div class="field" style="flex: 7">
      <%= form.number_field :value, class: "crud-input" %>
    </div>
  </div> <!-- crud flex -->
  <div class="crud-flex">
    <div class="field" style="flex: 1">
      <%= fields_for(@point_category) do |ab| %>
        <%= ab.label "All members", class: "crud-text", style: "flex: 7" %>
        <div style="flex: 20">
          <%= collection_select(:members, :id, @all_members, :id, :name, {}, {:multiple => true, class: "selection-field"}) %>
          <p class="instruction-text">Hold ctrl to select multiple members</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="crud-flex">
    <div class="actions crud-submit">
      <%= form.submit class: "submit-button" %>
    </div>
  </div> <!-- crud flex -->
  <% end %>
