<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('logo.png') %>
    <title>TAMU Speech & Debate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application',
    'data-turbolinks-track': 'reload' %>
    <style>
      .flash__alert {
        color: red;
      }
      .flash__notice {
        color: blue;
      }
      .flash__success {
        color: green;
      }
    </style>
  </head>

  <body>
    <div class="navbar">
      <div class="left-navbar">
        <div class="child_logo"><%= image_tag("logo.png", :size => "60x60") %></div>
      </div> <!-- left-navbar -->
      <div class="right-navbar">
        <div class="link-box">
          <%= link_to "Home", root_path, class: "link" %>
        </div>
        <div class="link-box">
          <%= link_to "Leaderboard", pages_leaderboard_path, class: "link" %>
        </div>
        <div class="link-box">
          <%= link_to "Announcements", announcements_path, class: "link" %>
        </div>
        <div class="link-box">
          <%= link_to "Calendar", events_path, class: "link" %>
        </div>
        <div class="link-box">
          <%= link_to "Member Create", members_path, class: "link" %>
        </div>
        <div class="link-box">
          <%= link_to "Profile", profile_index_path, class: "link" %>
        </div>
      </div> <!-- navbar -->
      <div class="link-box">
        <%= link_to image_tag("google_signin.png"),
        admin_google_oauth2_omniauth_authorize_path,
        class: "link google-sign-in", method: :post  %>
      </div>
    </div>
    <% if flash.any? %> <% flash.each do |key, value| -%>
    <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
    <% end -%> <% end %> <%= yield %>
  </body>
</html>
