<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="field">
    <%= form.radio_button :priority, 1 %> 
    <%= form.label :priority, 'Member - 1', :value => 1 %>
    <%= form.radio_button :priority, 2 %>
    <%= form.label :priority, 'Secondary Admin - 2', :value => 2 %>
    <%= form.radio_button :priority, 3 %>
    <%= form.label :priority, 'Primary Admin - 3', :value => 3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
