<p id="notice"><%= notice %></p>

<div class="content-box member-bg">
  <div class="crud-body">
    <h1 class="crud-header">Members</h1>
    <table class="crud-table">
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="email">Email</th>
          <th class="points">Points</th>
          <th class="priority">Priority</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td style="width: 20%;">
              <%= link_to member.name, member, class:"crud-show" %>
            </td>
            <td class="email"><%= member.email %></td>
            <td class="points"><%= member.points %></td>
            <td class="priority"><%= member.priority %></td>
            <td style="width:100px"><%= button_to 'Edit', edit_member_path(member), method: :get, class: "crud-button" %></td>
            <td style="width:100px"><%= button_to 'Remove', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Member', new_member_path, class: "submit-button" %>
  </div> <!-- crud-body -->
  <br>
</div> <!-- content-box -->
